/* Default styles */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
}

input[type="email"],
textarea,
input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

textarea {
    resize: none;
    height: auto;
    padding-right: 0px;
}

input[type="password"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-color: #3e8e41;
}

h1 {
    font-size: 36px;
    color: #df5734;
    margin-bottom: 20px;
    text-align: center;
}

h2,
h3 {
    font-size: 22px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#popup > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#popup h2 {
    font-size: 24px;
}

#popup p {
    font-size: 16px;
}

#popupInput {
    width: 90%;
    padding: 10px;
}

#popup button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#popup button:nth-child(1) {
    background-color: #008CBA;
}

#popup button:nth-child(2) {
    background-color: #f44336;
}

#errorPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#errorPopup > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fade-in 0.5s ease-out;
}

#errorPopup h2 {
    color: #ff0000;
}

#errorPopup #error-message {
    color: #ff0000;
}

#errorPopup button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    #importBanner {
      right: 0;
      bottom: 0;
    }
  }

#combinedText {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

footer a {
    font-family: 'Roboto Mono', monospace;
    color: #999;
    text-decoration: none;
}

footer a:hover {
    color: #333;
}